<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Trader's journal</title>
</head>
<body>
    index.html<br><br>

- общая информация (например, с сайта Мосбиржи)<br>
- форма для входа
    <br>
    <a href="/registration">Registration</a>
    <br>
    <a href="/login">Login</a>
    <br>
    <a href="/admin">Admin</a>
    <br>
    <a href="/user">User</a>
    <br>
    <form action="/logout" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

</body>
</html>